# Build output
*target/

# IntelliJ IDEA Project Files
.idea/
*.iml

# VSCode Project Files
.vscode/

# Compiled Python
*.pyc
*__pycache__/

# Log Files
*.log

# Tests
Vision/Test.py

# WPI Settings
.OutlineViewer/
